{% extends 'base.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <h1 class="widget twitter-feed-widget">publication index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Publications</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.titre }}</td>
                <td>
                    <button href="{{ path('app_commentaire', {'id': publication.commentaires}) }}">Consulter</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}