{% block body %}
    <h1>Liste des Reservation</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Coach</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idCoach }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}