{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}
    <div class="superx">

    <h1>Merci ! Votre paiement a été effectué avec succès.</h1>
    <p>
        Nous apprécions votre coopération! :)<br>
        Si vous avez des questions, veuillez envoyer un courriel à
        <a href="mailto:runiny@gmail.com">runiny@gmail.com</a>.
    </p>

    <div>

    </div>
    </div>
{% endblock %}