{% extends 'base.html.twig' %}

{% block title %}Hello PlatController!{% endblock %}

{% block body %}
    <div class="superx">
        <div class="card">
            {{ include('carac/form.html.twig') }}
        </div>
    </div>
{% endblock %}
