

{% block title %}
    Welcome
{% endblock %}

{% block body %}

        {% for commentaire in commentaires %}
            <table class="table">
            <tr>
                <td>{{ commentaire.texte }}</td>
            </tr>
            </table>

        {% endfor %}

{% endblock %}