{% extends 'base.html.twig' %}

{% block title %}Hello PlatController!{% endblock %}

{% block body %}
    <div class="superx">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Plats Disponibles</h5>

                        <!-- Table with stripped rows -->
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"><div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container"><table class="table datatable dataTable-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" data-sortable="" style="width: 27.6801%;"><a href="#" class="dataTable-sorter">Nom</a></th>
                                        <th scope="col" data-sortable="" style="width: 35.5888%;"><a href="#" class="dataTable-sorter">Poids</a></th>
                                        <th scope="col" data-sortable="" style="width: 10.9842%;"><a href="#" class="dataTable-sorter">Calories</a></th>
                                        <th scope="col" data-sortable="" style="width: 19.1125%;"><a href="#" class="dataTable-sorter">Fats</a></th></tr>
                                    </thead>
                                    <tbody>
                                    {% for p in plats %}
                                    <tr>
                                        <td>{{ p.nom }}</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td></tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table></div><div class="dataTable-bottom"><div class="dataTable-info">Showing 1 to 5 of 5 entries</div><nav class="dataTable-pagination"><ul class="dataTable-pagination-list"></ul></nav></div></div>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    </div>
{% endblock %}
